.heading {
    text-align: center;
}

.aboutWrapper {
    border: 1px red solid;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.aboutWrapper > * {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 60%;
    /* padding: 60px; */
    border: solid 2px blue;
    /* margin: 3%; */
}

.infoText {
    width: 50%;
}

.picture img {
    border: solid 2px blue;
}
