.navbarWrapper {
    position: static;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 5%;
    /* border: solid white 1px; */
    background-color: rgba(255, 255, 255, 0.606);
    width: 100vw;
}

.navbarWrapper img {
    max-width: 50px;
    max-height: 50px;
}

.navbarNavigation {
    background-color: rgba(255, 255, 255, 0.606);

    border: solid blue 1px;
    /* width: 100%; */
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbarNavigation > * {
    border: solid white 1px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 2em;
    cursor: pointer;
    /* height: 30px; */
}

#nameLogo {
    border: solid red 1px;
    height: auto;

    /* height: auto; */
}
