* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    font-family: "Montserrat", sans-serif;

    background-color: #0d0f33;

    /* color: #5daf4e; */
}
.mainPage {
    width: 100vw;
}

.pageWrapper {
}

.pageSection {
    margin-top: 20px;
    background-color: #0d0f33;
}
